{% extends "base.html" %}

{% block content %}
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
        <h2>Error ! <span>Pagina no encontrada</span></h2>
      </div>
      <p>Por alguna razón, la página solicitada no se pudo encontrar en nuestro servidor</p>
      <p><a href="javascript:history.go(-1)">&laquo; Anterior</a> / <a href="{{ url_for('index') }}">Inicio &raquo;</a></p>
    </section>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
