{% extends "base.html" %}

{% block content %}
<div class="">
{% from "_macro.html" import render_field %}
<h2>Create</h2>

{% if log_create %} <span>Log creado correctamente</span> {% endif %}
{% if db_not_conn %}
<span>Ocurrio un error al conectarse con la base de datos, por favor intentelo mas tarde.</span>
{% endif %}

<form action="" method="post">
  {% if form_not_val %}
  <ul><li> <p>Porfavor selecciona todos los campos </p> </li></ul>
  {% endif %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="">
    {{ render_field(form.tipo, required="required") }}
  </div>
  <div class="">
    {{ render_field(form.descripcion, required="required" ) }}
  </div>
  <div class="">
    {{ render_field(form.fecha, type="date", required="required" ) }}
  </div>
  <div class="">
    {{ render_field(form.hora, type="time", required="required" ) }}
  </div>
  <div class="">
    {{ render_field(form.transaccion, required="required" ) }}
  </div>
  <div class="">
    {{ render_field(form.servicio, required="required" ) }}
  </div>

  <button type="submit" name="button">Enviar</button>
</form>
</div>
{% endblock %}

{% block footer %}
<a href=" {{url_for('index')}} ">Inicio</a>
{% endblock %}
