{% extends "base.html" %}

{% block content %}
<div class="">
{% from "_macro.html" import render_field %}
{% from "_macro.html" import show_log %}
<div class="">
  <p>El log a modificar es:</p>
  <table>
    <thead>
      <th>Tipo.</th>
      <th>Descripción.</th>
      <th>Fecha.<br>yyyy/mm/dd</th>
      <th>Hora.</th>
      <th>Transaccion.</th>
      <th>Servicio.</th>
    </thead>
    <tbody>
      <tr>
        {{ show_log(data) }}
      </tr>
    </tbody>
  </table>
</div>

<h2>Update</h2>

{% if log_create %} <span>Log actualizado correctamente</span> {% endif %}
{% if db_not_conn %}
<span>Ocurrio un error al conectarse con la base de datos, por favor intentelo mas tarde.</span>
{% endif %}
<div class="center">
  <form action="" method="post">
    {% if form_not_val %}
    <ul><li> <p>Porfavor selecciona todos los campos </p> </li></ul>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="">
      {{ render_field(form.tipo, required="required") }}
    </div>
    <div class="">
      {{ render_field(form.descripcion, required="required" ) }}
    </div>
    <div class="">
      {{ render_field(form.fecha, type="date", required="required" ) }}
    </div>
    <div class="">
      {{ render_field(form.hora, type="time", required="required" ) }}
    </div>
    <div class="">
      {{ render_field(form.transaccion, required="required" ) }}
    </div>
    <div class="">
      {{ render_field(form.servicio, required="required" ) }}
    </div>
    <button type="submit" name="button">Actualizar</button>
  </form>
</div>

<a href="{{ url_for('logs') }}">Cancelar</a>
</div>
{% endblock %}

{% block footer %}
<a href=" {{url_for('index')}} ">Inicio</a>
{% endblock %}
